@font-face {
  font-family: PTSans;
  src: url("font/PTS75F.eot");
  src: url("font/PTS75F.woff2") format("woff2"), url("font/PTS75F.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: PTSans;
  src: url("font/PTSans-Bold.woff") format("woff"), url("font/PTSans-Bold.ttf") format("truetype"), url("font/PTSans-Bold.svg#PTSans-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
